HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!data-server/tools/nacos/target/
resources/model/*
resources/data/*
docker/lib/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.github/
.msc
.mv
#resources
*.zip
*.arrow
*.jsonl
*.mp4
*.mp3
*.flac
*.wav
*.avi
*.json
*.gguf
*.tar.gz
*.safetensors
*.pth
*.model
*.bin
model/*
data/*
#node
/node_modules
/dist
/src/assets/video
/src/assets/doc

#log
*.log
/log
/logs
*.out
data-server/webapps/package-lock.json
data-collect/sources/web-design/vue.config.js
data-collect/sources/web-design/dist.zip

