@font-face {
  font-family: "iconfont"; /* Project id 4900919 */
  src: url('iconfont.woff2?t=1745461002017') format('woff2'),
       url('iconfont.woff?t=1745461002017') format('woff'),
       url('iconfont.ttf?t=1745461002017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxiazhankai:before {
  content: "\e643";
}

.icon-up:before {
  content: "\e615";
}

